amqp
asgiref
Babel
billiard
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
coverage
crispy-bootstrap4
crispy-bootstrap5
cron-descriptor
defusedxml
diff-match-patch
dj-database-url
Django
django-autocomplete-light
django-bower
django-crispy-forms
django-debug-toolbar
django-filter
django-import-export
django-scheduler
django-tables2
django-timezone-field
djhacker
et-xmlfile
geographiclib
geopy
icalendar
idna
iniconfig
jdcal
kombu
MarkupPy
odfpy
openpyxl
packaging
Pillow
pip
pluggy
prompt-toolkit
psycopg2-binary
py-moneyed
pytest
pytest-cov
pytest-django
python-crontab
python-dateutil
python-decouple
pytz
PyYAML
setuptools
six
sqlparse
tablib
typing_extensions
tzdata
urllib3
vine
wcwidth
whitenoise
xlrd
xlwt
