{% extends "includes/base.html" %}
{% load crispy_forms_tags %}
{% block greetings %}Create a Groups{% endblock greetings %}
{% block text %}{% endblock text %}
{% block breadlink1 %}{% endblock breadlink1 %}{% block breadtext1 %}Booking{% endblock breadtext1 %}
{% block breadlink2 %}{% endblock breadlink2 %}{% block breadtext2 %}Flight{% endblock breadtext2 %}
{% block breadlink3 %}{% endblock breadlink3 %}{% block breadtext3 %}Details{% endblock breadtext3 %}
{% block breadlink4 %}{% endblock breadlink4 %}{% block breadtext4 %}{% endblock breadtext4 %}
{% block content %}

<div class="row">
    <div class="col-lg-8">


        <!-- Form to create a new group -->
        <form method="post">
            {% csrf_token %}
            {{ form|crispy}}
            <a href="{% url 'group_list' %}" class="btn btn-warning"> Cancel</a>
            <button class="btn btn-success" type="submit">Create Group</button>
        </form>


    </div>
    <div class="row col-md-4">
        <div class="col-md-12">
            <div class="social-graph-wrapper widget-facebook">
                <strong>Available Flights</strong>
            </div>
            <div class="text-center">

            </div>


        </div>
    </div>
{% endblock content %}






