{% extends "includes/base.html" %}
{% load crispy_forms_tags %}
{% block greetings %}Editing Passenger {{passenger_update.full_name}}'s Details{% endblock greetings %}
{% block text %}{% endblock text %}
{% block breadlink1 %}{% endblock breadlink1 %}{% block breadtext1 %}Passenger{% endblock breadtext1 %}
{% block breadlink2 %}{% endblock breadlink2 %}{% block breadtext2 %}Update{% endblock breadtext2 %}
{% block breadlink3 %}{% endblock breadlink3 %}{% block breadtext3 %}{% endblock breadtext3 %}
{% block breadlink4 %}{% endblock breadlink4 %}{% block breadtext4 %}{% endblock breadtext4 %}
{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit" name="submit">Update Passenger</button>
    <a href="{% url 'passenger_details' passenger_update.id %}" class="btn btn-warning"> Cancel</a>
  </form>



{% endblock content %}
