<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <title>Entebbe Airways</title>
    <!-- Favicon icon -->
    <link href="/static/images/favicon.png" rel="icon" sizes="16x16" type="image/png">
    <link href="/static/css/style.css" rel="stylesheet">

</head>

<body class="h-100">
<div class="authincation h-100">
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-md-6">
                <div class="authincation-content">
                    <div class="row no-gutters">
                        <div class="col-xl-12">
                            {% block content %}{% endblock content %}
                            <div class="auth-form">

                                {% if messages %}
                                {% for message in messages %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong>{{message}}</strong>
                                    <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span
                                            aria-hidden="true">×</span></button>
                                </div>

                                {% endfor %}
                                {% endif %}
                                <h4 class="text-center mb-4">Password Reset for Entebbe Airways ERP account</h4>

                                <!-- [ auth-signin ] start -->
                                <div class="auth-wrapper">
                                    <div class="auth-content">
                                        <div class="card">
                                            <div class="row align-items-center text-center">
                                                <div class="col-md-12">
                                                    <div class="content-section">
                                                        <div class="alert alert-info">
                                                            An email has been sent to your EMail with instructions on
                                                            how to reset you password.

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- [ auth-signin ] end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/static/vendor/global/global.min.js"></script>
    <script src="/static/js/quixnav-init.js"></script>
    <script src="/static/js/custom.min.js"></script>

</body>

</html>

