{% extends "includes/base.html" %}
{% load crispy_forms_tags %}
{% block greetings %} Tech log for {{aircraft_name}}{% endblock greetings %}
{% block text %}{% endblock text %}
{% block breadlink1 %}{% endblock breadlink1 %}{% block breadtext1 %}Maintenance{% endblock breadtext1 %}
{% block breadlink2 %}{% endblock breadlink2 %}{% block breadtext2 %}Aircraft{% endblock breadtext2 %}
{% block breadlink3 %}{% endblock breadlink3 %}{% block breadtext3 %}Flight{% endblock breadtext3 %}
{% block breadlink4 %}{% endblock breadlink4 %}{% block breadtext4 %}Tech Log{% endblock breadtext4 %}

{% block content %}


<div class="card-body">
    <ul class="nav nav-pills mb-4">
        <li class=" nav-item">
            <a href="#navpills-1" class="nav-link active" data-toggle="tab" aria-expanded="false">Flight Techlog</a>
        </li>
        <li class="nav-item">
            <a href="#navpills-2" class="nav-link" data-toggle="tab" aria-expanded="false">Maintenance Log</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="navpills-1" class="tab-pane active">
            <div class="row">
                <div class="col-md-12">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy}}
                        <button type="submit" class="btn btn-success" >Complete a Flight Tech Log</button>
                        <a href="#" class="btn btn-warning">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
        <div id="navpills-2" class="tab-pane">
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- add_aircraft_sub_component.html -->


{% endblock content %}