<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    {% if title %}
    <title>EAWY- {{ title }}</title>
    {% else %}
    <title>Entebbe Airways</title>
    {% endif %}
    <!-- Favicon icon -->
    <link href="/static/images/favicon.png" rel="icon" sizes="16x16" type="image/png">
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/vendor/select2/css/select2.min.css">
    <!-- Form Wizard -->
    <link href="/static/vendor/jquery-steps/css/jquery.steps.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/vendor/bootstrap-daterangepicker/daterangepicker.js">
</head>

<body>

<!--******************* Preloader start ********************-->
<div id="preloader">
    <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
    </div>
</div>
<!--******************* Preloader end ********************-->

<!--**********************************Main wrapper start***********************************-->
<div id="main-wrapper">

    <!--********************************** Nav header start ***********************************-->
    <div class="nav-header">
        <a class="brand-logo" href="/">
            <img alt="" class="logo-abbr" src="/static/images/logo.png">
            <img alt="" class="logo-compact" src="/static/images/logo-text.png">
            <img alt="" class="brand-title" src="/static/images/logo-text.png">
        </a>

        <div class="nav-control">
            <div class="hamburger">
                <span class="line"></span><span class="line"></span><span class="line"></span>
            </div>
        </div>
    </div>
    <!--**********************************Nav header end ***********************************-->

    <!--********************************** Header start ***********************************-->

    {% include 'includes/headermenu.html' %}
    <!--********************************** Header end ti-comment-alt ***********************************-->

    <!--********************************** Sidebar start ***********************************-->
    {% include 'includes/sidebar.html' %}
    <!--********************************** Sidebar end ***********************************-->

    <!--********************************** Content body start ***********************************-->
    <div class="content-body">
        <div class="container-fluid">
            <!--********************************** bread Crumbs ***********************************-->
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4>{% block greetings %}{% endblock greetings %}</h4>
                        <p class="mb-0">{% block text %}{% endblock text %} </p>
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>{{message}}</strong>
                            <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span
                                    aria-hidden="true">×</span></button>
                        </div>

                        {% endfor %}
                        {% endif %}

                    </div>

                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% block breadlink1 %}{% endblock breadlink1 %}">{% block breadtext1 %}{% endblock breadtext1 %}</a></li>
                        <li class="breadcrumb-item active"><a href="{% block breadlink2 %}{% endblock breadlink2 %}">{% block breadtext2 %}{% endblock breadtext2 %}</a></li>
                        <li class="breadcrumb-item"><a href="{% block breadlink3 %}{% endblock breadlink3 %}">{% block breadtext3 %}{% endblock breadtext3 %}</a></li>
                        <li class="breadcrumb-item active"><a href="{% block breadlink4 %}{% endblock breadlink4 %}">{% block breadtext4 %}{% endblock breadtext4 %}</a></li>
                    </ol>
                </div>
            </div>
            <!--********************************** End bread Crumbs ***********************************-->

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <!--********************************** page template content ***********************************-->
                            {% block content %}{% endblock content %}
                            {% if is_paginated %}

                            {% if page_obj.has_previous %}
                            <a class="btn btn-outline-primary mb-4" href="?page=1">First</a>
                            <a class="btn btn-outline-danger mb-4" href="?page={{page_obj.previous_page.number}}">Previous
                                Page</a>
                            {% endif %}

                            {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                            <a class=" btn btn-danger mb-4" href="?page={{num}}">{{num}}</a>
                            {% elif num > page_obj.number|add:'-4' and num < page_obj.number|add:'4' %}
                            <a class="btn btn-outline-danger mb-4" href="?page={{num}}">{{num}}</a>
                            {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                            <a class="btn btn-outline-primary mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
                            <a class="btn btn-outline-primary mb-4"
                               href="?page={{page_obj.paginator.num_pages}}">Last</a>
                            {% endif %}
                            {% endif %}

                            <!--********************************** page template content  ***********************************-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--********************************** Content body end ***********************************-->


    <!--********************************** Footer start ***********************************-->
    {% include 'includes/footer.html' %}
    <!--********************************** Footer end***********************************-->

</div>

<!-- Required vendors -->
<script src="/static/vendor/global/global.min.js"></script>
<script src="/static/js/quixnav-init.js"></script>
<script src="/static/js/custom.min.js"></script>
<script src="/static/vendor/highlightjs/highlight.pack.min.js"></script>
<script src="/static/vendor/moment/moment.min.js"></script>
<script src="/static/vendor/pg-calendar/js/pignose.calendar.min.js"></script>
<!-- Demo scripts -->
    <script src="/static/vendor/select2/js/select2.full.min.js"></script>
    <script src="/static/js/plugins-init/select2-init.js"></script>

<!-- - Form Wizard --->
 <script src="/static/vendor/jquery-steps/build/jquery.steps.min.js"></script>
    <script src="/static/vendor/jquery-validation/jquery.validate.min.js"></script>
    <!-- Form validate init -->
    <script src="/static/js/plugins-init/jquery.validate-init.js"></script>
    <!-- Form step init -->
    <script src="/static/js/plugins-init/jquery-steps-init.js"></script>
<script>
$(document).ready(function() {
    // Initial state based on the checkbox
    toggleSerialNumbersDisplay($('#multipleEntriesCheckbox').is(':checked'));

    // Event listener for the checkbox
    $('#multipleEntriesCheckbox').change(function() {
        toggleSerialNumbersDisplay($(this).is(':checked'));
    });

    function toggleSerialNumbersDisplay(show) {
        if (show) {
            // Show label and help text
            $('label[for="serialNumbersTextarea"]').show();
            $('.help-text-serial-numbers').show(); // Assume you add this class to your help text
            $('#serialNumbersTextarea').show();
        } else {
            // Hide label and help text
            $('label[for="serialNumbersTextarea"]').hide();
            $('.help-text-serial-numbers').hide();
            $('#serialNumbersTextarea').hide();
        }
    }
});
</script>

</body>

</html>