<div class="quixnav">
    <div class="quixnav-scroll">
        <ul class="metismenu" id="menu">
            <!-- <li><a href="index.html"><i class="icon icon-single-04"></i><span class="nav-text">Dashboard</span></a>
            </li> -->
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                    class="icon icon-layout-25"></i><span class="nav-text">Dashboard</span></a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'ops_dash' %}">Operations</a></li>
                    <li><a href="{% url 'maintenance_dashboard' %}">Maintenance</a></li>
                    <li><a href="{% url 'manage_crew_scheduling' %}">Crew</a></li>
                </ul>
            </li>

            <li class="nav-label">Applications</li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                    class="icon icon-app-store"></i><span class="nav-text">Booking</span></a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'booking_planning' %}">Flight Calculator</a></li>
                    <li><a href="#">Quote Flights</a></li>
                </ul>
            </li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                    class="icon icon-world-2"></i><span class="nav-text">Crew Scheduling</span></a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'manage_crew_scheduling' %}">Manage</a></li>
                    <li><a href="#">Licencing</a></li>
                    <li><a href="#">Reports</a></li>
                </ul>
            </li>

            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                    class="ti-id-badge"></i><span class="nav-text">Passengers</span></a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'booking_list' %}">Bookings</a></li>
                    <li><a href="{% url 'passenger_list' %}">Passengers</a></li>
                    <li><a href="{% url 'group_list' %}">Groups</a></li>
                </ul>
            </li>

            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                    class="icon icon-chart-bar-33"></i><span class="nav-text">Dispatch</span></a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'whiteboard_calendar' %}">WhiteBoard</a></li>
                    <li><a href="{% url 'flight_list' %}">Flights</a></li>
                    <li><a href="#">Monitoring</a></li>
                    <li><a href="#">Weather</a></li>
                </ul>
            </li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                    class="icon icon-plug"></i><span class="nav-text">Maintenance</span></a>
                <ul aria-expanded="false">


                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Aircrafts</a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'maintenance_dashboard' %}">Dashboard </a></li>
                            <li><a href="{% url 'list_aircraft' %}">Add New</a></li>
                            <li><a href="{% url 'aircraft_maintenance_list' %}">Aircraft</a></li>
                            <li><a href="{% url 'component_maintenance_list' %}">Components</a></li>
                        </ul>
                    </li>
                    <li><a href="{%url 'airport_list' %}" aria-expanded="false">Airports</a>
                    </li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Techlogs</a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'aircraft_maintenance_techlog_list' %}">Maintenance</a></li>
                            <li><a href="{% url 'flight_techlog_list' %}">Flight</a></li>
                            <li><a href="#">Schedules</a></li>
                        </ul>
                    </li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Reports</a>
                        <ul aria-expanded="false">
                            <li><a href="#">Components</a></li>
                            <li><a href="#">Aircraft</a></li>
                            <li><a href="#">Airports</a></li>
                            <li><a href="#">Techlogs</a></li>
                        </ul>
                    </li>

                </ul>
            </li>

            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                    class="ti-package"></i><span class="nav-text">Inventory</span></a>
                <ul aria-expanded="false">


                    <li><a href="#">Purchases</a></li>
                    <li><a href="#">Detached</a></li>
                    <li><a href="#">Returned</a></li>
                    <li><a href="#">In Stock</a></li>

                </ul>
            </li>
            <li class="nav-label">Reports and Analytics</li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                    class="ti-layers-alt"></i><span class="nav-text">Reports</span></a>
                <ul aria-expanded="false">
                    <li><a href="#">Passengers</a></li>
                    <li><a href="#">Flights</a></li>
                    <li><a href="#">Bookings & Dispatch</a></li>
                    <li><a href="#">Users</a></li>
                    <li><a href="#">Maintenance</a></li>
                </ul>
            </li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                    class="ti-import"></i><span class="nav-text">Bulk Operations</span></a>
                <ul aria-expanded="false">
                    <li><a href="#">Passengers & Groups</a></li>
                    <li><a href="#">Components</a></li>
                    <li><a href="#">Users</a></li>
                    <li><a href="#">Booking</a></li>
                    <li><a href="#">Airports</a></li>
                </ul>
            </li>

            <li class="nav-label">Manage Users</li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                    class="icon icon-single-04"></i><span class="nav-text">Users</span></a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'user_list'%}">Manage</a></li>
                    <li><a href="#">Block</a></li>
                </ul>
            </li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                    class="ti-lock"></i><span class="nav-text">Security</span></a>
                <ul aria-expanded="false">
                    <li><a href="#">Block IP</a></li>
                    <li><a href="#">Block User</a></li>
                    <li><a href="#">Failed Logins</a></li>
                    <li><a href="#">Active Sessions</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>


